<h1>Coaching#answer</h1>
<p>Find me in app/views/coaching/answer.html.erb</p>
<h2>Your question: </h2>
<%= @query %> <h3> - YOU </h3>

<h2>Your answer: </h2>
<%= @message %> <h3> - COACH </h3>

<%= link_to("ask", ask_path) %>
